p {
  font-family: Lato;
}

.scrollable-element {
  width: 100%;
  max-width: 640px;
  height: 550px;
  overflow: auto;
}

.scrollable-element .panes-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 750px;
  height: 750px;
  background-color: beige;
}

.panes-wrapper > div {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panes-wrapper .middle.center.pane {
  font-size: 4cm;
}

.panes-wrapper .left {
  color: black;
}

.panes-wrapper .right,
.panes-wrapper .center {
  color: white;
}

// order
.panes-wrapper .pane {
  &.top {
    &.left {
      order: 0;
    }

    &.center {
      order: 1;
    }

    &.right {
      order: 2;
    }
  }

  &.middle {
    &.left {
      order: 3;
    }

    &.center {
      order: 4;
    }

    &.right {
      order: 5;
    }
  }

  &.bottom {
    &.left {
      order: 6;
    }

    &.center {
      order: 7;
    }

    &.right {
      order: 8;
    }
  }
}

// background-image
.panes-wrapper .pane {
  background-image: var(--image);
  background-repeat: no-repeat;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.35);

  $v: top, middle, bottom;
  $h: left, center, right;
  @each $row in $v {
    $p: $row;
    @if ($row == middle) {
      $p: center;
    }
    @each $col in $h {
      &.#{$row}.#{$col} {
        background-position: $p $col;
      }
    }
  }
}

// position, size
.panes-wrapper .pane {
  &.top {
    top: 0;
    height: var(--sticky-pane-size);
    margin-bottom: var(--sticky-pane-size);
  }

  &.bottom {
    bottom: 0;
    height: var(--sticky-pane-size);
    margin-top: var(--sticky-pane-size);
  }

  &.middle {
    height: var(--center-pane-size);
    margin-bottom: calc(var(--sticky-pane-size) * -1);
    margin-top: calc(var(--sticky-pane-size) * -1);
  }

  &.left {
    left: 0;
    width: var(--sticky-pane-size);
    margin-right: var(--sticky-pane-size);
  }

  &.right {
    right: 0;
    width: var(--sticky-pane-size);
    margin-left: var(--sticky-pane-size);
  }

  &.center {
    width: var(--center-pane-size);
    margin-left: calc(var(--sticky-pane-size) * -1);
    margin-right: calc(var(--sticky-pane-size) * -1);
  }
}

.panes-wrapper > .pane:not(.middle.center) {
  position: sticky;
}

.panes-wrapper > .pane.middle.center {
  position: relative;
}

/*Needed only for Mozilla Firefox browser*/
.panes-wrapper > .pane {
  &.top.center,
  &.middle.left,
  &.bottom.right {
    z-index: 1;
  }

  &.bottom.left,
  &.top.right {
    z-index: 2;
  }

  &.top.left {
    z-index: 3;
  }
}
