<hello name="{{ name }}"></hello>

<div class="scrollable-element">
    <div class="panes-wrapper">
        <div class="middle-center-pane"></div>
        <div class="bottom-center-pane"></div>
        <div class="middle-right-pane"></div>
        <div class="top-center-pane"></div>
        <div class="middle-left-pane"></div>
        <div class="bottom-right-pane"></div>
        <div class="bottom-left-pane"></div>
        <div class="top-right-pane"></div>
        <div class="top-left-pane"></div>
    </div>
</div>
