p {
  font-family: Lato;
}

.scrollable-element {
  width: 100%;
  max-width: 640px;
  height: 550px;
  overflow: auto;
}

.scrollable-element .panes-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 750px;
  height: 750px;
  background-color: beige;
}

.panes-wrapper .middle-center-pane {
  position: relative;
  order: 4;
  width: var(--center-pane-size);
  height: var(--center-pane-size);
  margin-left: calc(var(--sticky-pane-size) * -1);
  margin-right: calc(var(--sticky-pane-size) * -1);
  margin-top: calc(var(--sticky-pane-size) * -1);
  margin-bottom: calc(var(--sticky-pane-size) * -1);
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.panes-wrapper .bottom-center-pane {
  position: sticky;
  order: 7;
  bottom: 0;
  margin-left: calc(var(--sticky-pane-size) * -1);
  margin-right: calc(var(--sticky-pane-size) * -1);
  margin-top: var(--sticky-pane-size);
  width: 600px;
  height: 75px;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.35);
}

.panes-wrapper .middle-right-pane {
  position: sticky;
  order: 5;
  right: 0;
  margin-left: var(--sticky-pane-size);
  margin-bottom: calc(var(--sticky-pane-size) * -1);
  margin-top: calc(var(--sticky-pane-size) * -1);
  width: var(--sticky-pane-size);
  height: 600px;
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.35);
}
